@media only screen and (min-width: 1024px) {
	#header {
		height: 225px;
	}
	#header_image {
		width: 150px;
		margin-top: 0;
	}
	.hi_not_scrolled {
		position: absolute;
		top: 225px;
		left: 50%;
		margin-left: -75px;
	}
	.hi_scrolled {
		position: fixed;
		top: 0;
		left: 50%;
		margin-left: -75px;
		z-index: 1;
	}
	#menu_container {
		height: 150px;
	}
	#contain_top {
		height: 75px;
	}
	#contain_btm {
		height: 75px;
	}
	.menu_item {
		height: 75px;
		line-height: 75px;
	}
}
