@font-face {
	font-family: 'Caviar Dreams';
	src: url(Caviar_Dreams.ttf) format('truetype'),
		url('Caviar_Dreams.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Caviar Dreams';
	src: url('Caviar_Dreams_Bold.ttf') format('truetype'),
		url('Caviar_Dreams_Bold.woff') format('woff');
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: 'Caviar Dreams';
	src: url('Caviar_Dreams_BoldItalic.ttf') format('truetype'),
		url('Caviar_Dreams_BoldItalic.woff') format('woff');
	font-style: italic;
	font-weight: bold;
}
@font-face {
	font-family: 'Caviar Dreams';
	src: url('Caviar_Dreams_Italic.ttf') format('truetype'),
		url('Caviar_Dreams_Italic.woff') format('woff');
	font-style: italic;
	font-weight: normal;
}

html {
	overflow-x: hidden;
	font-family: 'Caviar Dreams','Century Gothic',sans-serif;
}

* {
	font-family: 'Caviar Dreams','Century Gothic',sans-serif;
}

#header {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 15vh;
	text-align: center;
}
#header_image {
	display: block;
	width: 200px;
	border-radius: 50%;
	margin: 0 auto;
}
#page_title {
	font-size: 4em;
}
