@font-face {
	font-family: 'Caviar Dreams';
	src: url('https://c0nverter.github.io/fonts/Caviar_Dreams.ttf') format('truetype'),
		url('https://c0nverter.github.io/fonts/Caviar_Dreams.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Caviar Dreams';
	src: url('https://c0nverter.github.io/fonts/Caviar_Dreams_Bold.ttf') format('truetype'),
		url('https://c0nverter.github.io/fonts/Caviar_Dreams_Bold.woff') format('woff');
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: 'Caviar Dreams';
	src: url('https://c0nverter.github.io/fonts/Caviar_Dreams_BoldItalic.ttf') format('truetype'),
		url('https://c0nverter.github.io/fonts/Caviar_Dreams_BoldItalic.woff') format('woff');
	font-style: italic;
	font-weight: bold;
}
@font-face {
	font-family: 'Caviar Dreams';
	src: url('https://c0nverter.github.io/fonts/Caviar_Dreams_Italic.ttf') format('truetype'),
		url('https://c0nverter.github.io/fonts/Caviar_Dreams_Italic.woff') format('woff');
	font-style: italic;
	font-weight: normal;
}
